body {
    background-image: url("https://i.imgur.com/ibstMrr.png");
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#masthead {
    font-family: 'sans-serif', Times, Times New Roman, serif;
    background-color: #ffffff;
    border-color: #cccccc;
    color: #777777;
    width: 100%;
    clear: both;
}

.navbar-brand {
    font: 'sans-serif', Helvetica Neue, Helvetica;
    color: #4aaaa5
}

/* ////// ABOUT ME PAGE \\\\\\ */

.container {
    margin: 25px;
    color:#4aaaa5;
    background-color:white; 
    border:5px; 
    border-color: #4aaa4a;
    height:550px;
    font-family: "sans-serif", Georgia, 'Times New Roman', Times, serif;
}    

h2 {
    color: #4aaaa5;
    font: 'sans-serif', Helvetica Neue, Helvetica;
    font-size: 180%;
    padding: 25px;
}


p {
    font: 'sans-serif', 'Helvetica Neue', Helvetica;
    color: #777777;
    float: right;
}

section {
    float: right;
    padding: 25px;
    font: 'sans-serif', 'Helvetica Neue', Helvetica;
    color: #dddddd;
}



/* ////// CONTACT PAGE \\\\\\ */

.ContactContainer {
    margin: 25px;
    padding: 50px;
    color:#4aaaa5;
    background-color:white; 
    border:5px; 
    border-color: #4aaa4a;
    height:1050px;
    font-family: "sans-serif", Georgia, 'Times New Roman', Times, serif;
}    

.btn {
    margin-left: 25px;
}

.form-group {
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 50px;
    margin: 40px;
    margin-left: 150px;
    margin-right: 150px;
    Font: 'sans-serif', Helvetica Neue, Helvetica;
}

.ContactInfo {
    font: 'sans-serif', Helvetica Neue, Helvetica;
    color: #cccccc;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/* ////// PORTFOLIO PAGE \\\\\\ */



/* //////GENERAL FOOTER\\\\\\ */
.footercontent {
    background-color: #666666;
    clear: both;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    padding: 50px;
    height: 100%;
    margin: 0;
    float: left;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer,
.push {
  text-align: center
}



